{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
  {% if original %}
    <input type="hidden" name="take_charge" id="id_take_charge" value="0">
    <div class="submit-row">
      {{ block.super }}
      <input type="button" class="default" value="{% trans "Quitter" %}" style="margin-left: 10px; margin-top: 5px;" onclick="window.location.href='{% url 'admin:core_demandesouscription_changelist' %}'" />
      {% if is_commercial and not original.commercial and original.statut == 'EN_ATTENTE' %}
        <input type="submit" class="default" value="{% trans "Prendre en charge" %}" style="margin-left: 10px; margin-top: 5px;" onclick="document.getElementById('id_take_charge').value='1';" />
      {% endif %}
    </div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
